body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.login-container {
    position: relative;
    width: 400px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 2; /* Certifique-se de que o container esteja acima das animações */
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.input-box input:focus {
    border-bottom: 2px solid #03e9f4;
}

.login-buttons {
    text-align: center;
}

.login-buttons button {
    background: #03e9f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.login-buttons button:hover {
    background: #039be5;
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Certifique-se de que os quadrados fiquem atrás do login-box */
}

.moving-square {
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, transparent, #03e9f4, #03e9f4, transparent);
    animation: animate 6s linear infinite;
}

.square1 {
    top: -50%;
    left: -50%;
}

.square2 {
    top: -50%;
    left: -50%;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(100%) translateY(100%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
